.gridLine{
  width:100%;
  height: 110px;
  display:flex;
  justify-content: center;
}
  
.middleLine{
  display:flex;
  width: 320px;
  justify-content: space-between;

  #mainButton {
    width : 75px;
    height : 75px;
    background-color: black;
    align-self: center;
  }
  #leftPannel{
    background-color:green;
  }
  #rightPannel{
    background-color:blue;
  }
}

#redirectPannel{
  width: 350px;
  height: 350px;
  margin:auto;
}
.oneButtonPannel{
  width : 100px;
  height : 100px;
  align-self: center;
}

#topPannel{
  background-color:red;
}
#bottomPannel{
  background-color:yellow;
}

.mainPage{
    height: 100vh;
    align-items: center;
    display: flex;
}